<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    
    <!--- https://semantic-ui.com/introduction/advanced-usage.html --->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

</head>
<body>
    <div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header" style="font-size: 3.5em; font-family: Copperplate, Fantasy;">ToDo App</h1>

    <form class="ui form" action="/add" method="post">
        <div class="field">
            <label for="'title" style="font-size: 1.4em; margin-bottom: 10px;">ToDo Title</label>
            <input type="text" name="title" placeholder="Enter ToDo...">
            <br>
            <button class="ui blue button" style="margin-top: 10px; font-size: 1.2em;" type="submit">Add</button>
        </div>


    </form>

    {% for todo in todo_list %}
    <div class="ui segment">
        <p class="ui big header"> {{ todo.id }} | {{ todo.title }} </p>

        {% if todo.complete == False %}
            <span class="ui grey label">Not Complete</span>
        {% else %}
            <span class="ui green label">Completed</span>
        {% endif %}

        <a class="ui inverted green button" href="/update/{{ todo.id }}">Update</a>
        <a class="ui inverted red button" href="/delete/{{ todo.id }}">Delete</a>
    </div>
    {% endfor %}
    </div>
</body>
</html>